<div class="table">
    <div class="header">
        <ul class="row">
            <li>状態/年月</li>
            <li>
                <div class="year">2021</div>
                <div class="month">01</div>
            </li>
            <li>
                <div class="year">&nbsp;</div>
                <div class="month">02</div>
            </li>
            <li>
                <div class="year">&nbsp;</div>
                <div class="month">03</div>
            </li>
        </ul>
    </div>
    <div class="data">
        <ul class="row">
            <li class="status">未設定</li>
            <li class="count">0</li>
            <li class="count">1</li>
            <li class="count">2</li>
        </ul>
    </div>
    <div class="data">
        <ul class="row">
            <li class="status">積読</li>
            <li class="count">0</li>
            <li class="count">1</li>
            <li class="count">2</li>
        </ul>
    </div>
</div>