:host {
  > h2 {
    margin: 0 5%;
  }
  > div {
    display: flex;
    align-items: center;

    > div {
      width: 50%;
      max-width: 500px;
    }

    > ul {
      width: 50%;
      max-width: 500px;
    }
  }
}