.row {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;

  > li {
    list-style: none;
    min-width: 60px;
    text-align: right;
    border: 1px solid #e4e4e4;
    margin-left: -1px;
    margin-top: -1px;

    &:first-child {
      min-width: 130px;

      &.status {
        border: 1px solid #e4e4e4;
        background-color: #f3f3f3;
      }

      &.empty {
        border: none;
        margin-right: 3px;
      }
    }

    > div {
      background-color: #f4f2e7;

      .month {
        text-align: right;
      }
    }
  }
}

.sum {
  font-weight: bold;
}

.table {
  overflow-x: auto;
}